#painel-sobre {
	margin-top: 20px;
}

.titulo-garfield {
	background-color: #0275D8;
	padding: 10px;
}

.carousel-inner {
	min-height: 300px; /* ADICIONADO para garantir espaço */
}

.carousel-inner img {
	width: 100%;
	height: 100%;
	min-height: 100px; /* ADICIONADO para forçar altura mínima */
	object-fit: cover;
}

@media (max-width: 768px) {
	.carousel-inner img {
		width: 100%;
		height: auto;
	}
}

.carousel-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	color: orange;
	font-weight: bold;
	background-color: transparent !important;
	padding: 10px 0;
	box-shadow: none;
}
